.logo {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  color: black;
}

.logo:hover {
  font-size: 1.7rem;
}

.footer {
  display: flex;
  height: max-content;
  width: 100%;
  margin-top: auto;
}

.link,
.cartLogo {
  text-decoration: none;
  outline: none;
  color: rgb(100, 97, 97);
}

.cartLogo {
  color: inherit;
}
