.logo {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  color: black;
}

.logo:hover {
  font-size: 1.7rem;
}

.footer {
  display: flex;
}

.cartLogo {
  text-decoration: none;
  outline: none;
  color: inherit;
}
