.container {
  width: max-content;
  max-width: 1000px;
  background-color: white;
  height: 550px;
  margin: 4rem auto;
}

.image {
  width: 380px;
  height: 320px;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    margin: 1.2rem auto;
    height: max-content;
    padding: 10px;
  }

  .image {
    width: 200px;
    height: 250px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 100%;
    margin: 1rem auto;
    height: max-content;
    padding: 20px;
  }

  .image {
    width: 300px;
    height: 280px;
  }
}
