.container {
  width: max-content;
  max-width: 1000px;
  background-color: white;
  height: 600px;
  margin: 4rem auto;
}

.image {
  width: 400px;
  height: 500px;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100vw;
    margin: 1rem auto;
  }

  .image {
    width: 100%;
    height: 400px;
  }
}
